{% extends 'base.html' %}

{% block header %}
    {% block title %}Home{% endblock %}
{% endblock %}
{% block body %}
    <h1 align=center>Maths practice</h1>
    <p><a href="{{ url_for('two_ints') }}">Two single-digit integers</a>.</p>
    <p><a href="{{ url_for('addition_ten') }}">Addition to ten</a> - addition with integers 1-10.</p>
    <p><a href="{{ url_for('subtraction_ten') }}">Subtraction to ten</a> - subtraction with integers 1-10.</p>
    <p><a href="{{ url_for('addition_twenty') }}">Addition to twenty</a> - addition with integers 1-20.</p>
    <p><a href="{{ url_for('subtraction_twenty') }}">Subtraction to twenty</a> - subtraction with integers 1-20.</p>
    <p><a href="{{ url_for('multiplication') }}">Multiplication</a> - multiplication with integers 1-12.</p>
{% endblock %}
